.fboxcontainer {
	display: flex;
}

.transcriptbox {
    height: 30px;
}

.leftcol {
    margin-left: 20px;
    margin-right: 50px;
}

.fboxleft {
    justify-content: flex-start;
}

.fboxright {
    justify-content: flex-end;
}

.fboxlength {
    flex-basis: 500px;
}

.leftcol {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    padding: 3px 15px;
    margin-right: 5px;
}